@font-face {
    font-family: 'Pixel';
    src: url('fonts/PixelFont.ttf') format('truetype');
}

body, input, button, textarea {
    font-family: 'Pixel', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/texture2.png');
    background-repeat: repeat;
    color: #f8f8f2;
}

header {
    background-image: url('images/texture1.png');
    background-repeat: repeat;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 60%;      /* Logo width as a percentage of its container */
    min-width: 100px; /* Minimum width to prevent the logo from getting too small */
    max-width: 250px; /* Maximum width to prevent the logo from getting too large */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #ff9f32;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
}

main {
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.nav-element {
    font-size: clamp(16px, 2.5vw, 27.5px);
}

.mail-link {
    color: #ff8800;
    font-size: clamp(12px, 2.5vw, 20px);;
}

section {
    width: 70%;
    margin-bottom: 40px;
    border: 2px solid #44475a;
    padding: 20px;
    text-align: center;
    background-color: #44475a;
    color: #ffffff;
}

.home-banner {
    width: 100%;
    margin-bottom: 40px;
    border: 2px solid #44475a;
    padding: 20px;
    text-align: center;
    background-image: url('images/pixel-background.png');
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    color: #000000;
}

.game-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the child articles */
    width: 100%; /* Adjust based on your layout requirements */
}

.game-list article {
    width: 70%;
    height: 120px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ffffff50;
    background-image: url('images/pixel-background.jpg');
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; /* Animate transformation over 0.3 seconds */
}

.game-list article:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}

h1, h2, h3 {
    color: #ffb428;
    padding: 0; /* Remove padding to allow flexbox to center the text */
    line-height: 80px; /* Line height equal to height to center text vertically */
    display: flex; /* Use flexbox to center the text */
    align-items: center; /* Align text vertically in the center */
    justify-content: center; /* Align text horizontally in the center */
    margin: 0 auto; /* Center header within its container horizontally */
}

h1 {
    color: rgb(92, 68, 43);
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    margin: 5px auto; /* Reduced margin for closeness */
    line-height: normal; /* Adjust line height if necessary */
}

.article-p {
    color: #ffffff; /* Assuming you want white text, adjust as necessary */
    margin: 5px auto; /* Reduced margin for closeness */
    font-size: clamp(10px, 1vw, 15px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    background: #44475a;
    border: 1px solid #f8f8f2;
    color: #f8f8f2;
}

button {
    width: auto;
    padding: 10px 20px;
}

footer {
    text-align: center;
}